<br><br><br><div class="navbar">
	<ul class="nav-left">
		<ng-container> 
			<li>
				<a
					routerLinkActive="active"
					routerLink="/odjava"
					class="nav-link"
					>Odjava</a
				>
			</li>
		</ng-container>
		<ng-container *ngIf="!isAuthenticated">
			<li>
				<a
					routerLinkActive="active"
					routerLink="/registracija"
					class="nav-link"
					>Registracija</a
				>
			</li>
			<li>
				<a
					routerLinkActive="active"
					routerLink="/prijava"
					class="nav-link"
					>Prijava</a
				>
			</li>
			<li>
				<a
					routerLinkActive="active"
					routerLink="/dokumentacija"
					class="nav-link"
					>Dokumentacija</a
				>
			</li>
		</ng-container>
		<ng-container *ngIf="isAdmin">
			<li>
				<a
					routerLinkActive="active"
					routerLink="/dodavanje"
					class="nav-link"
					>Dodavanje</a
				>
			</li>
			<li>
				<a
					routerLinkActive="active"
					routerLink="/korisnici"
					class="nav-link"
					>Korisnici</a
				>
			</li>
		</ng-container>
		<ng-container *ngIf="isAuthenticated">
			<li>
				<a
					routerLinkActive="active"
					routerLink="/pocetna"
					class="nav-link"
					>Početna</a
				>
			</li>
			<li>
				<a
					routerLinkActive="active"
					routerLink="/filmovi"
					class="nav-link"
					>Filmovi</a
				>
			</li>
			<li>
				<a
					routerLinkActive="active"
					routerLink="/osobe"
					class="nav-link"
					>Osobe</a
				>
			</li>
       		<li>
				<a
					routerLinkActive="active"
					routerLink="/detalji"
					class="nav-link"
					>Detalji</a
				>
			</li>
			<li>
				<a
					routerLinkActive="active"
					routerLink="/aktiviraj2F"
					class="nav-link"
					>Dvorazinska zaštita</a
				>
			</li>
		</ng-container>
	</ul>
</div>
